.Banner-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 17.778rem;
  background-color: var(--doro-medium);
}

.Banner-content-container {
  display: flex;
  justify-content: space-between;
  width: 65.571rem;
  height: 11.056rem;
}

.Banner-route-container {
  display: flex;
  align-items: center;
}

.Banner-contents {
  margin-top: 2.5rem;
}

.Banner-rightImg {
  height: 15rem;
  margin-top: 0.5rem;
}

.Banner-route {
  height: 0.941rem;
  width: 0.91rem;
  margin-right: 0.712rem;
}

.Banner-route-font {
  font-family: Pretendard;
  font-size: 0.778rem;
  font-weight: 500;
  padding-top: 0.04rem;
  margin-right: 0.611rem;
  color: #fff;
}

.Banner-con {
  height: 6.944rem;
  flex-grow: 0;
}

.Banner-title-div {
  height: 4.667rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.167rem 0 0;
  padding: 0;
}

.Banner-title {
  height: 3.222rem;
  flex-grow: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Pretendard;
  font-size: 2.667rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.Banner-subtitle {
  height: 1.444rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;
  text-align: center;
  color: #d9d9d9;
}

.Subtitle-bigFont {
  margin-top: 2.5rem;
  font-family: Pretendard;
  font-size: 1.333rem;
  line-height: 1.833rem;
  color: #f8f9fd;
}

.Subtitle-smallFont {
  margin-top: 2.056rem;
  font-family: Pretendard;
  font-size: 1.111rem;
  line-height: 1.833rem;
  color: #f8f9fd;
  
}

/* .Banner-content {
  height: 1.611rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 1.333rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Banner-content-small {
  height: 1.611rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 1.1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
} */
